# Python virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Acados specific
acados/
c_generated_code/
test_acados/c_generated_code/
acados_ocp*.json
test_acados/acados_ocp*.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs and databases
*.log
*.sqlite

# Environment variables
.env 